.card{
    position: relative;
    width: 850px !important;
    height: 350px;
    margin-left: 350px;
    margin-bottom: 40px;
    margin-top: 100px;
    
}
.card-title{
    position: relative;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 5px;
}

.card-subtitle{
    position: relative;
    padding-left: 20px;
    padding-top: 20px;
    
}

.card-body{
    position: relative;
    padding-left: 20px;
    padding-top: 10px;
    /* overflow: hidden; */
    /* width:750px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; */

}



.h1{
    position: relative;
    padding-left: 1px;
    
}

.Button{
    width: fit-content;
    position: absolute;
    background-color: #FF663E;
    margin-left: 700px;
    margin-top: 300px;
    border-radius: 5px;
    height: 40px;
    border-color: #FF663E;
    color: #FFFFFF;
}
.price{
    position: absolute;
    padding-left: 680px;
    padding-top: 20px;

}