.font{
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "sans-serif";
    font-size: 0.88rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
}

.button{
    margin-left: 10px;
    background-color: #FF663E;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    border-color: #FF663E;
    color: #FFFFFF;
}