.form-label{
    margin-top: 40px;
}


.form-control {
    width: 450px !important;
    margin-left: 550px;
  }

.input-group{
    width: 450px !important;
    margin-left: 550px;
}

.h3 {
    padding-top: 30px;
    margin-top: 40px;
}

.price-button {
    margin-bottom: 30px;
    width: 230px;
}

.done-button{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #FF663E;
    border-radius: 5px;
    width: 150px;
    height: 60px;
    border-color: #FF663E;
    color: #FFFFFF;
}