.form-label{
    margin-top: 40px;
}


.form-control {
    width: 450px !important;
    margin-left: 550px;
  }

.input-group{
    width: 450px !important;
    margin-left: 550px;
}

.h3 {
    padding-top: 30px;
    margin-top: 40px;
}

.price-button {
    margin-bottom: 30px;
    width: 230px;
}